<header id="main-header">
  <div id="logo"><a href="/">TCJ Task Scheduler</a></div>
  <nav>
   <a href="/">Home</a> | <a href="/new-task">Add Task</a>
  </nav>
  <button id="mobile-menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>

<aside id="mobile-menu">
    <nav>
      Home | Add | Edit
    </nav>
</aside>